.article-page {

    .main-content {
        width: 750px;
        height: 100%;
        overflow: hidden;
    }

    .first-article-title {
        color: #fff;
        font-size: 32px;
        letter-spacing: 4px;
    }

    .article {
        width: 690px;
        height: 300px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        margin-bottom: 35px;

        .article-cover {
            background-position: center;
            background-size: cover;
            width: 600px;
            height: 100%;
            position: absolute;
            top: 0;
            overflow: hidden;
            z-index: 1;
            box-shadow: 0 15rpx 35rpx -10rpx #333;
        }

        .article-info {
            position: absolute;
            bottom: 25px;
            width: 500px;
            background-color: #fff;
            padding: 15px 25px;
            z-index: 2;
            color: #17233d;
            box-sizing: border-box;
            letter-spacing: 4px;
            font-size: 28px;
            line-height: 48px;
            border-radius: 10px;
            box-shadow: 0 15rpx 35rpx -10rpx #333;
        }
    }
}
