.title-bar-component {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    z-index: 20;
    color: #fff;

    .title {
        display: flex;
        align-items: center;
    }

    .back-button {
        line-height: 40px;

        text:first-child {
            font-size: 40px;
            margin-right: 15px;
        }

        text:nth-child(2) {
            font-size: 35px;
        }
    }
}
