.mine-page {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .main-content {
        width: 750px;
        height: 100%;
        overflow: hidden;

        .user-profile {
            position: absolute;
            bottom: -110px;
            width: 100%;

            .avatar {
                width: 150px;
                height: 150px;
                border-radius: 20px;
                border: 5px solid #fff;
            }

            .username {
                height: 60px;
                width: 450px;
                position: absolute;
                bottom: 80px;
                left: 200px;
                font-size: 35px;
                line-height: 60px;
                color: #fff;
            }
        }

        .favorite-menu {
            margin-top: 80px;
        }

        .personal-menu {
            margin-top: 30px;
            transition: margin-bottom .3s ease-in-out;
            margin-bottom: 0;

            &.mg-bt {
                margin-bottom: 150px;
            }
        }
    }

    .login-button {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        background: #17233d;
        color: #fff;
        font-size: 30px;
    }
}
